html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  color: $primary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: "HandOfSean";
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 0.5em;
  font-weight: 500;
  color: $primary-color;
}
p {
  font-size: 1em;
  font-family: Avenir;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.landing-page {
  background: url("../../images/layout/Maggi-Website_Homepage_1-extended.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-position-x: center;
  margin: auto;
  &-container {
    // background: url("../../images/layout/Maggi\ Website_Homepage_1.psd.jpg");
    // background-repeat: no-repeat;
    // background-size: contain;
    width: 1140px;
    margin: auto;
  }
}
.main-header {
  padding: 40px 0;
  padding-bottom: 50px;
  position: relative !important;
  &_logo {
    position: absolute;
    background: url("../../images/layout/maggi_logo.png");
    height: 7.5em;
    width: 7.5em;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
    top: 1.5em;
    z-index: 11;
  }
  &_menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-item {
      display: flex;
      line-height: 1.7em;
      font-size: $primary-font-size;
      padding: 0 20px;
      font-family: "AvenirNext";

      &:hover {
        color: #646464;
        a {
          color: #646464;
        }
      }
      cursor: pointer;
      a {
        transition: color 0.3s ease-in;
        color: $primary-color;
      }
      &.language {
        padding: 0;
      }
      .language {
        &-common {
          &.en {
            padding-right: 0.7em;
            border-right: 1px solid;
          }
          &.bm {
            padding-left: 0.7em;
          }
          &.active {
            span {
              padding: 0.2em 0.3em;
              border-radius: 10px;
              background-color: rgba(255, 165, 0, 0.82);
              color: #fff;
            }
          }
        }
      }
    }
  }
}
.mbb-wrapper-container {
  .tomato-1 {
    display: none;
  }
  .pepper-1 {
    display: none;
  }
  .herb-1 {
    display: none;
  }
}
.tomato-1 {
  position: absolute;
  transform: rotate(261deg);
  top: -11em;
  left: 25%;
}
.tomato-2 {
  position: absolute;
  transform: rotate(193deg);
  top: 5em;
  right: -6em;
}
.pepper-1 {
  position: absolute;
  top: 3em;
  left: 45%;
  height: 10em;
}
.herb-1 {
  position: absolute;
  transform: scaleX(-1);
  top: -9em;
  right: 10%;
}
.orange {
  position: absolute;
  top: 39%;
  right: 4em;
  height: 23em;
}
.herb_2 {
  position: absolute;
  height: 7em;
  top: 45%;
  right: 18em;
  transform: scaleX(-1);
}
.cup {
  position: absolute;
  top: 41%;
  left: -7em;
}
.spices {
  position: absolute;
  top: -21em;
  right: -5em;
}
.noodles {
  position: absolute;
  top: -10em;
  left: -5em;
}

.tomato_3 {
  position: absolute;
  transform: rotate(37deg);
  top: 5em;
  left: -6em;
}
.herb_3 {
  position: absolute;
  transform: rotate(264deg);
  top: -3em;
  right: -2em;
}
.pepper-2 {
  position: absolute;
  right: -9em;
  bottom: 10em;
}
.pepper-3 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.herb-4 {
  position: absolute;
  transform: scaleX(-1) rotate(-26deg);
  right: -5em;
  bottom: 3em;
  height: 16em;
}