@media only screen and (min-width: 400px) and (max-width: 539px) {
  h1 {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: .9em;
    font-family: Avenir;
    font-weight: 500;
    margin-bottom: 0.5em;
  }
  .landing-page {
    background: url("../../images/layout/Maggi Website_plain bg_1024px.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position-x: center;
    margin: auto;
    overflow: hidden;
    &-container {
      width: 380px;
      margin: auto;
    }
  }
  .mobile-menu {
     &-close-btn {
      top: 1em !important;
      right: 1em !important;
    }
    &-item {
      font-size: 22px !important;
    }
  }
  .main-header {
    padding: 25px 0 !important;
    &_logo {
      height: 4.5em;
      width: 4.5em;
      left: 1em;
      left: 0em !important;
      top: 1em !important;
    }
    &_menu {
      padding: 0 1em;
      padding-right: 0em;
    }
  }
  .main-carousel {
    .glass-of-water {
      top: 108% !important;
      left: 21% !important;
      font-size: .7em !important;
      .stroke-mobile {
        height: 3em !important;
      }
    }
    &-balance-bowl {
      height: 19em !important;
      &-full {
        height: 18.5em !important;
        width: 25em !important;
      }
      &-carbohydrates {
        span {
          font-size: .65em !important;
          bottom: 2em !important;
          left: 4em !important;
        }
      }
      &-protein {
        span {
          font-size: .65em !important;
          top: 4em !important;
          left: 5em !important;
        }
      }
      &-vegetable {
        span {
          font-size: .65em !important;
          top: 6em !important;
          right: 1.8em !important;
        }
      }
    }
    &-step {
      padding-top: 7rem !important;
      .left-arrow {
        left: 0em !important;
      }
      .right-arrow {
        right: 0em !important;
      }
    }
    .custom-mobile {
      display: block !important;
    }
    .content {
      justify-content: center !important;
    }
    .carousel {
      height: 15.5rem !important;
      &-root {
        width: 24em !important;
        margin: auto;
      }
    }
    .sub-title-custom {
      font-size: 1em;
    }
    .description {
      padding: 0 4em !important;
    }
  }
  .steps {
    padding: 0 !important;
    .step {
      &-1-1 {
        height: 5em !important;
      }
      &-1-2 {
        height: 5em !important;
      }
      &-2-1 {
        height: 5em !important;
      }
      &-2-2 {
        height: 5em !important;
      }
      &-3-1 {
        height: 3em !important;
      }
      &-3-2 {
        height: 3em !important;
      }
    }
    &.mobile-step-3 {
      padding-top: 2em !important;
    }
  }
  .why-maggi {
    padding: 5em 0em !important;
    padding-bottom: 0 !important;
    &-content {
      padding: 1em 3em !important;
    }
  }
  .custom-mobile {
      display: block !important;
      &-ingredient {
        width: 90% !important;
      }
  }
  .custom-box {
    &-content{
      margin: auto !important;
    }
    &-item {
      img {
        height: 100% !important;
      }

      .box-container {
        &-content{
          width: 80% !important;
          margin: auto !important;
          p {
            font-size: .9em !important;
          }
        }
      }
    }
  }
  .convenience {
    width: 90% !important;
    margin: auto;
    .right-box {
      width: 100% !important;
      img {
        width: 100%;
      }
      .box-container {
        width: 80%;
        margin: auto;
        padding: 2em 0em !important;
        img {
          width: auto !important;
        }
      }
    }
  }
  .delicious-recipes {
    padding: 3em 0em !important;
    &-header {
      padding: 1em !important;
      span {
        font-size: 13px !important;
      }
      h1 {
        margin-top: .1em !important;
        margin-bottom: .5rem !important;
      }
    }
    .mobile-recipes {
      width: 90%;
      padding: 1em 0px;
      margin: auto;
      position: relative;
      &-box {
        padding: 1em 0;
      }
      .left-arrow {
        left: -2em;
      }
      .right-arrow {
        right: -2em;
      }
    }
    .carousel .slide {
      background: unset;
    }
    &_kari-box {
      height: 43em !important;
    }
    &_ayam-box {
      height: 43em !important;
    }
    &_tomyum-box {
      height: 43em !important;
    }
    .delecious-bowl {
      height: 8em !important;
      width: auto !important;
    }
    &-calories {

      margin-bottom: 0em !important;
      span {
        font-size: 15px !important;
      }
      &_header {
        width: 27em;
        margin: auto;
        background-size: contain !important;
      }
      &_body {
        height: 10em !important;
        padding-top: 0em !important;
        &-left {
          width: 45% !important;
          .caloiries {
            height: 5em !important;
            background-size: contain !important;
          }
        }
        &-right {
          padding-top: 2em !important;
          .noodle {
            height: 4em !important;
          }
          .food {
            &-item {
              height: 4em !important;
            }
          }
          p {
            margin-top: 0.5em !important;
            font-size: .7rem !important;
            padding: 0 3em !important;
          }
          &.multiple {
            width: 75% !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            p {
              padding: 0 10px !important;
            }
          }
        }
      }
    }
  }

.tomato-1 {
  top: -6em !important;
  left: 20% !important;
  height: 12em !important;
}
.tomato-2 {
  top: 3em !important;
  right: -5em !important;
  height: 14em !important;
}
.pepper-1 {
  top: 2em !important;
  height: 4em !important;
  left: 40% !important;
}
.herb-1 {
  top: -6em !important;
  right: -6% !important;
  height: 12em !important;
}
.orange {
  top: 33% !important;
  right: 0em !important;
  height: 8em !important;
}
.herb_2 {
  height: 4em !important;
  top: 34% !important;
  right: 7em !important;
}
.cup {
  top: 35% !important;
  left: -3em !important;
  height: 10em !important;
}
.spices {
  right: -7em !important;
  height: 13em !important;
  top: -9em !important;
}
.noodles {
  top: -4em !important;
  left: -2em !important;
  height: 19em !important;
}

.tomato_3 {
  top: -1em !important;
  left: -11em !important;
}
.herb_3 {
  top: 0em !important;
  right: -4em !important;
  height: 9em !important;
}
.pepper-2 {
  position: absolute;
  right: -9em;
  bottom: 10em;
}
.pepper-3 {
  height: 9em;
  left: -3em !important;
}
.herb-4 {
  position: absolute;
  transform: scaleX(-1) rotate(-26deg);
  right: -9em !important;
  bottom: -2em !important;
  height: 16em;
}
}
