@media only screen and (min-width: 800px) and (max-width: 959px) {
  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
  }
  .landing-page {
    background: url("../../images/layout/Maggi Website_plain bg_1024px.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position-x: center;
    margin: auto;
    overflow: hidden;
    &-container {
      width: 768px;
      margin: auto;
    }
  }
  .main-header {
    padding: 80px 0 !important;
    &_logo {
      height: 10.5em;
      width: 10.5em;
      left: 1em;
    }
    &_menu {
      padding: 0 3em;
    }
  }
  .main-carousel {
    .glass-of-water {
      top: 109% !important;
      left: 22% !important;
    }
    &-balance-bowl {
      height: 33em !important;
      &-full {
        height: 33em !important;
      }
      &-carbohydrates {
        span {
          font-size: 1.2em !important;
          bottom: 2em !important;
          left: 6em !important;
        }
      }
      &-protein {
        span {
          font-size: 1.2em !important;
          top: 3.5em !important;
          left:6.5em !important;
        }
      }
      &-vegetable {
        span {
          font-size: 1.2em !important;
          top: 5.6em !important;
          right: 3.3em !important;
        }
      }
    }
    &-step {
      padding-top: 9rem !important;
      .left-arrow {
        left: 6em !important;
      }
      .right-arrow {
        right: 6em !important;
      }
    }
    .custom-mobile {
      display: block !important;
    }
    .content {
      justify-content: center !important;
    }
    .carousel {
      height: 18rem !important;
      &-root {
        width: 28em !important;
        margin: auto;
      }
    }
    .description {
      padding: 0 17em !important;
    }
  }
  .why-maggi {
    padding: 5em 9em !important;
    padding-bottom: 0 !important;
    &-content {
      padding: 1em 3em !important;
    }
  }
  .custom-mobile {
      display: block !important;
  }
  .custom-box {
    &-content{
      margin: auto !important;
    }
    &-item {
      img {
        height: 100% !important;
      }

      .box-container {
        &-content{
          width: 80% !important;
          margin: auto !important;
        }
      }
    }
  }
  .convenience {
    width: 64% !important;
    margin: auto;
    .right-box {
      width: 100% !important;
      img {
        width: 100%;
      }
      .box-container {
        width: 80%;
        margin: auto;
        img {
          width: auto !important;
        }
      }
    }
  }
  .delicious-recipes {
    padding: 3em 0em !important;
    &-header {
      padding: 1.5em !important;
      span {
        font-size: 18px !important;
      }
      h1 {
        margin-top: .3em;
      }
    }
    .mobile-recipes {
      width: 64%;
      padding: 2em 0px;
      margin: auto;
      position: relative;
      &-box {
        padding: 1em 0;
      }
    }
    .carousel .slide {
      background: unset;
    }
    &_kari-box {
      height: 61em !important;
    }
    &_ayam-box {
      height: 61em !important;
    }
    &_tomyum-box {
      height: 61em !important;
    }
    .delecious-bowl {
      height: 12em !important;
      width: auto !important;
    }
    &-calories {

      margin-bottom: 1em !important;
      span {
        font-size: 24px !important;
      }
      &_header {
        width: 33em;
        margin: auto;
        background-size: contain !important;
      }
      &_body {
        height: 13.5em !important;
        padding-top: 1em !important;
        &-left {
          width: 50% !important;
          .caloiries {
            height: 7em !important;
            background-size: contain !important;
          }
        }
        &-right {
          padding-top: 2em !important;
          .noodle {
            height: 5em !important;
          }
          .food {
            &-item {
              height: 5em !important;
            }
          }
          p {
            margin-top: 0.5em !important;
            font-size: 1.1rem !important;
            padding: 0 3em !important;
          }
          &.multiple {
            width: 75% !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            p {
              padding: 0 4px !important;
            }
          }
        }
      }
    }
  }

.tomato-1 {
  top: -9em !important;
  left: 22% !important;
  height: 22em !important;
}
.tomato-2 {
  position: absolute;
  transform: rotate(193deg);
  top: 5em;
  right: -10em;
}
.pepper-1 {
  position: absolute;
  top: 3em;
  left: 45%;
  height: 10em;
}
.herb-1 {
  top: -12em !important;
  right: -1% !important;
}
.orange {
  right: 2em !important;
  height: 11em !important;
}
.herb_2 {
  height: 6em !important;
  top: 44% !important;
  right: 11em !important;

}
.cup {
  position: absolute;
  top: 41%;
  left: -7em;
}
.spices {
  right: -10em !important;
}
.noodles {
  top: -8em !important;
  left: -7em !important;
}

.tomato_3 {
  position: absolute;
  transform: rotate(37deg);
  top: 5em;
  left: -6em;
}
.herb_3 {
  position: absolute;
  transform: rotate(264deg);
  top: -3em;
  right: -2em;
}
.pepper-2 {
  position: absolute;
  right: -9em;
  bottom: 10em;
}
.pepper-3 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.herb-4 {
  position: absolute;
  transform: scaleX(-1) rotate(-26deg);
  right: -5em;
  bottom: 3em;
  height: 16em;
}
}
